- fields_for 'profile[contact_info_data]', @profile.contact_info do |contact_form|
  %p
    = label_tag 'Email:'
    = current_user.email
  %p
    Land Phone:
    = contact_form.text_field :land_phone 