[submodule "vendor/plugins/restful_authentication"]
	path = vendor/plugins/restful_authentication
	url = git@github.com:jgoldwasser/restful-authentication.git
[submodule "vendor/plugins/forgot_password"]
	path = vendor/plugins/forgot_password
	url = git@github.com:jgoldwasser/forgot_password.git
[submodule "vendor/plugins/acts_as_list"]
	path = vendor/plugins/acts_as_list
	url = git://github.com/rails/acts_as_list.git
[submodule "vendor/plugins/aasm"]
	path = vendor/plugins/aasm
	url = git@github.com:jgoldwasser/aasm.git
[submodule "vendor/plugins/annotate_models"]
	path = vendor/plugins/annotate_models
	url = git@github.com:jgoldwasser/annotate-models.git
[submodule "vendor/plugins/rspec"]
	path = vendor/plugins/rspec
	url = git@github.com:jgoldwasser/rspec.git
[submodule "vendor/plugins/rspec-rails"]
	path = vendor/plugins/rspec-rails
	url = git@github.com:jgoldwasser/rspec-rails.git
[submodule "vendor/plugins/attachment_fu"]
	path = vendor/plugins/attachment_fu
	url = git@github.com:jgoldwasser/attachment_fu.git
[submodule "vendor/plugins/rspec-rails-mocha"]
	path = vendor/plugins/rspec-rails-mocha
	url = git@github.com:jgoldwasser/rspec-rails-mocha.git
