%h1= "#{@famicle.name} Children"


%ul
  - for child in @children
    %li
      = link_to child.name, edit_famicle_child_path(@famicle, child)
      |
      = link_to 'Pre Arrival Info', new_famicle_child_prearrival_path(@famicle, child)
    